/** style css header et titres**/
header,h1,h2{
    background-color: #0F4C81;
    text-align:center;
        font-family: Gabriola;
        color: #FFF;
        
}

/** style css navbar**/
.ul1{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-size: 25px;  
}
.li1{
    background-color: #FF5353;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
   
}
.li1 a{
    text-decoration: none;
    color: #FFF;
}
link{
    color: #FFF
}
    
/**image de fond présentation**/
.section1{
    background-image: url("../image/accueil.jpg");
    background-size: cover;

}

.section1 div{
    display:flex;
    flex-direction: row;
    align-items: center;
}
/**style css texte présentation**/
p{
    text-align: center;
    font-family: Calibri;
    font-size: 30px;
    margin: auto;
    padding: 20px;
    background-color: rgba(255,255,255,0.2)
    
    
}


/**photo de profil **/
.img1{
    width: 40%;
    height: auto;
     
      
}
.section3{
    display:flex;
    justify-content: space-around;
}
  /**style css picto compétences**/
.imgCss{
    width: 70px;
    height: 100px;
}
.imgHtml{
    width: 100px;
    height: 100px;
}
.imgAi{
    width: 100px;
    height: 100px;
}
.imgPs{
    width: 120px;
    height: 120px;
}
.imgPp{
    width: 100px;
    height: 100px;
}
/*Barre de progression*/
progress{
    width: 80px;
   }

/** style css formations/diplômes**/
.ul2{
    list-style-type: none;
    font-family: Calibri;
    text-align: center;
}
/**style css footer**/
footer{
    background-color: #0F4C81;
    display: block;
    height: 150px;
    display: flex;
    justify-content:space-around;
    padding-top: 30px;
}
/** style picto de mon footer**/
.imgGit{
  width: 100px;
  height: 100px;
}
.imgLink{
    width: 100px;
    height: 100px;
}
.imgCV{
    width: 100px;
    height: 100px;
}
.imgPhone{
    width:100px;
    height: 100px;
}
.imgGmail{
    width: 100px;
    height: 100px;
}
/*media queries*/

@media screen and (max-width:992px) {

    
    }
  